.back-button-div {
  width: 75vw;
  margin-top: 5rem;
}

.back-button {
  font-family: var(--font-base);
  font-size: 1rem;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;

  padding: 0.5rem 2rem;
}

.back-button i {
  padding-right: 0.5rem;
}

.country-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 75vw;
  margin-top: 4rem;

  font-family: var(--font-base);
}

.country-container img {
  width: 35vw;
  height: 45vh;
}

.dark-border {
  border-radius: 10px;
  border: 15px solid var(--color-dark-blue-elements);
}

.country-data-wrapper {
  height: 45vh;
  width: 35vw;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.country-data-wrapper h3 {
  font-size: 1.75rem;
  font-weight: 900;
}

.country-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.country-main-info p,
.country-sub-info p {
  padding: 0.25rem;
  letter-spacing: 0.05rem;
  font-size: 0.85rem;
  font-weight: 600;
}

.country-main-info span,
.country-sub-info span {
  font-weight: 300;
}

.country-sub-info span {
  padding: 0 0.15rem;
}

.border-countries-container {
  display: flex;
  width: 100%;
  
  height: fit-content;
  width: 100%;

  margin-top: 1rem;
}

.border-countries-container p {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.25rem;
}

.border-countries-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.border-country {
  font-size: 0.85rem;
  font-weight: 300;

  padding: 0.25rem 1rem;

  margin: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media screen and (max-width: 1150px) {
  .country-container {
    flex-direction: column;
    width: 90vw;
  }

  .country-container img,
  .country-data-wrapper {
    height: fit-content;
    width: 60vw;
  }
  
  .country-data-wrapper {
    margin-top: 1rem;
    justify-content: flex-start;
    padding: 1rem;
  }

  .country-data,
  .country-sub-info,
  .border-countries-container {
    margin-top: 1.5rem;
  }

  .back-button-div {
    width: 60vw;
  }
}

@media screen and (max-width: 650px) {
  .country-container img {
    width: 90vw;
    height: 25vh;
  }

  .country-data-wrapper {
    width: 90vw;
    margin-top: 2rem;
  }

  .country-data {
    flex-direction: column;
  }

  .border-countries-container {
    flex-direction: column;
  }

  .border-countries-list {
    margin-top: 1rem;
    justify-content: center;
    align-items: flex-start;
  }

  .border-country {
    margin: 0.25rem;
  }

  .back-button-div {
    width: 90vw;
  }
}

