.filter-container {
  position: relative;
  min-width: 25vw;
}

.filter-container input {
  width: 100%;

  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filter-container i {
  margin-right: -2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

@media screen and (max-width: 650px) {
  .filter-container {
    width: 85vw;
  }
}
