.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-height: 100vh;
}

.bg-light {
  color: var(--color-very-dark-blue-text);
  background: var(--color-very-light-gray-bg);
}

.bg-dark {
  color: var(--color-white);
  background: var(--color-very-dark-blue-bg);
}

.element-light {
  color: var(--color-very-dark-blue-text);
  background: var(--color-white);
}

.element-dark {
  color: var(--color-white);
  background: var(--color-dark-blue-elements);
}