@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root {
  --font-base: 'Nunito Sans', sans-serif;

  --color-very-dark-blue: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}