@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root {
  --font-base: 'Nunito Sans', sans-serif;

  --color-dark-blue-elements: hsl(209, 23%, 22%);
  --color-very-dark-blue-text: hsl(200, 15%, 8%);
  --color-very-dark-blue-bg: hsl(207, 26%, 17%);
  --color-dark-gray-input: hsl(0, 0%, 52%);
  --color-very-light-gray-bg: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}
